html {
    height: 100%;
    width: 100%;
    position: fixed;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    position: absolute;
    z-index: 0;
}
#issMap {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
#title-section {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 275px;
    background-color: white;
    padding: 8px;
    margin: 15px;
    z-index: 3;
}
#h1 {
    display: inline-block;
    font-family: sans-serif;
    position: relative;
    z-index: 4;
}
#p {
    display: inline-block;
    position: relative;
    z-index: 4;
}